/** 
* This file provides the default styling for a screen. This allows any screen to use these properties
*/
.page {
  flex: 1;
  flex-direction: column;
  align-content: stretch;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.page h1 {
  font-size: x-large;
  font-weight: bold;
}

.page p {
  font-size: medium;
  font-weight: 300;
}

.timer {
  flex: 1;
  align-content: center;
  border: 1px solid darkblue;
  border-radius: 10px;
  padding: 10px;
}

.timer h1 {
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
}
