/** 
* This file provides the styling for the User Profile screen.
*/
.background {
  flex: 1;
  height: 100%;
  padding-left: 16px;
  padding-right: 16px;
}

.dailyGoals {
  flex: 0.5;
}

.dailyGoals p {
  font-size: medium;
  font-weight: 300;
}

.userDetails {
  flex: 0.5;
}

.userDetails h1 {
  font-size: x-large;
  font-weight: bold;
}
